/* Top */
#top {
	height: 250px;
}

#top h1 {
	position: absolute;
	top: 60px;
	left: 0;
	width: 100%;
	color: #fff;
	text-align: center;
	text-shadow: 5px 5px 50px #fff;
}
#top h1 small {
	color: #d50000;
}

.parallax img {
	width: 100%;
}

/* Navbar */
.navbar {
	border-radius: 0;
}

/* Content */
.feature {
	text-align: center;
}
.feature img {
	width: 100%;
	max-width: 300px;
}
.schedule tbody > tr > td {
	border: 0;
}
.schedule .date {
	text-align: center;
	vertical-align: middle;
}
.schedule .center {
	text-align: center;
	width: 20%;
}
